<body>
    
    <form>


<div class="container d-flex justify-content-center align-items-center min-vh-100">
  <!----------------------- Login Container -------------------------->
     <div class="row border rounded-5 p-3 bg-white shadow box-area">
  <!--------------------------- Left Box ----------------------------->
     <div class="col-md-6 rounded-4 d-flex justify-content-center align-items-center flex-column left-box">
     
         <div class="featured-image mb-3">
          <img src="../../assets/sample.png" class="img-fluid" style="width: 250px;
          
          ">
         </div>
         <p class="text-danger fs-2 fw-bold" style="font-family:'Brush Script MT', cursive; font-weight: 400;"></p>
         <small class="text-pink text-wrap text-center" style="width: 17rem;font-family: 'Courier New', Courier, monospace;">Explore mern stack and Java full stack courses in GUVI.</small>
     </div> 
  <!-------------------- ------ Right Box ---------------------------->
  
     <div class="col-md-6 right-box">
        <div class="row align-items-center">
              <div class="header-text mb-4">
                   <h2 style="font-family:'Brush Script MT', cursive; font-weight: bold;
                   color: green;">Guvi </h2>
                   <p style="font-family: 'Courier New', Courier, monospace; color: cadetblue; font-weight: 200;">Learning Makes Life Beautiful.</p>
              </div>
              <div class="input-group mb-3 form-group">
                <span class="input-group-text">Age</span>
                <input type="input-group-text" class="form-control form-control-lg bg-light fs-6" placeholder="password" required>
              </div>
              
              <div class="input-group mb-1 form-group">
                <span class="input-group-text">DOB</span>
                <input type="date" class="form-control form-control-lg bg-light fs-6" placeholder="DOB" required>
              </div>
              
              <div class="input-group mb-1 form-group">
                <span class="input-group-text">Phone Number</span>
                <input type="text" class="form-control form-control-lg bg-light fs-6" placeholder="Phone Number" required>
              </div>
              
              <div class="input-group mb-1 form-group">
                <span class="input-group-text">Gender</span>
                <input type="text" class="form-control form-control-lg bg-light fs-6" placeholder="Gender" required>
              </div>
              <div class="input-group mb-3">
                <button type="submit" class="btn btn-lg btn-success w-100 fs-6">submit</button>
              </div>
              
              
        </div>
     </div> 
     
    </div>

  </div>
  </form>
</body>
